<% include common/header.ejs %>

<div class="container-fluid">
    <div class="row header">

        <div class="col-sm-12">
            <img class="hero"src="images/boii.jpg"style="min-height:150px;">
        </div>
        <span class="dictionaryName">Online Dictionary</span>
        <span class="mainText">Make every word count!</span>
    </div>
    <div class="search row">
        <div class="inputContainer col-md-7 col-md-offset-3">
            <input type="text" class="mainSearch"placeholder="Searching in english-english">
            <button class="btn btn-warning searchBtn">GO!</button>
            <button class="regReminder registerShow"style="background-color:#334f83;padding:10px;border-radius:5px;">Consider registrating for a better word-searching experience!</button>
        </div>

    </div>
    <div class="row translationContainer"></div>




</div>

<% include common/footer.ejs %>