<div>
    <div class="col-md-7 col-md-offset-3 translationNewList"><h3 class="translationWord"><%=word%></h3><div class="translation"><%=translation%></div><div style="text-align: center"class="btns"><button class="btn btn-danger del">Delete</button></div></div>
</div>