<div>
    <div class="col-md-7 col-md-offset-3 translationNew"><h3 class="translationWord"><%=word%><button class="btn btn-danger removE">X</button></h3><div class="translation"><%=translation%></div></div>
</div>